<phpunit backupGlobals="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

  <testsuites>
    <testsuite name="twitter">
      <directory suffix=".php">tests/TestCase</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">lib/Twitter</directory>
    </include>
  </coverage>

</phpunit>
